<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
  <head>
    <title th:text="${loggedInUser.name} +'  SCM'">Profile Page</title>
  </head>

  <body>
    <div th:if="${loggedInUser}">
      <div th:replace="~{user/user_sideBar :: sidebar}"></div>
    </div>
    <section id="content" class="sm:pl-64 pt-16">
      <div class="flex justify-center flex-col items-center">
        <h1>This is the Profile Page</h1>
        <p>
          Welcome to the Profile page of our website. Here you can find the
          latest updates and featured contentbgbggcuonxohne.
        </p>
      </div>
    </section>
    <script>
      console.log("Profile Page");
    </script>
  </body>
</html>
