<div class="parent-fragment" th:fragment="parent(x,y)">
    <h1> this is a parent fragment </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perspiciatis sed recusandae maxime tempora, expedita exercitationem! Vel amet eveniet 
        voluptatibus a quo explicabo suscipit, ipsa pariatur officia accusantium fugit sunt?
    </p>
    <h1>Value of x is  <span th:text="${x}"></span></h1>
    <h1>Value of y is  <span th:text="${y}"></span></h1>
</div>

<div class ="content-parent-fragment" th:fragment="contest(content)">
    <h1>This is content from base.html</h1>
    <p>This is a paragraph from base.html file</p>
    <div class ="content-fragment" th:replace="${content}"></div>
</div>